@import url(https://fonts.googleapis.com/css?family=Roboto);

$standart-padding: 30px;
$standart-margin: 30px;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;

  main {
    > div.container {
      > .content {
        padding: $standart-padding;
      }
    }
  }
}

@import 'surveys';
