extends layout

block content
  main(
    data-react-class="CoursesApp"
  )

block pagescript
  script(type="text/javascript").
    window.__INITIAL_STATE__ = {
      bots: !{JSON.stringify(bots)},
      courses: !{JSON.stringify(courses)},
      scenarios: !{JSON.stringify(scenarios)}
    }
