extends layout

block content
  main(
    data-react-class="CoursesApp"
  )

block pagescript
  script(type="text/javascript").
    window.__INITIAL_STATE__ = {
      courses: !{JSON.stringify(courses)},
      tags: !{JSON.stringify(tags)}
    }
