extends layout

block content
  main(
    data-react-class="ScenariosApp"
  )

block pagescript
  script(type="text/javascript").
    window.__INITIAL_STATE__ = {
      scenarios: !{JSON.stringify(scenarios)},
      tags: !{JSON.stringify(tags)},
      courses: !{JSON.stringify(courses)}
    }
