@import url(https://fonts.googleapis.com/css?family=Roboto);body {
  font-family: 'Roboto', sans-serif;
  margin: 0; }
  body h1 {
    font-size: 24px;
    font-weight: 200; }
  body h1, body h2, body h3 {
    margin: 0 0 20px 0; }
  body ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  body main > div.container > .content {
    padding: 30px; }
  body form > div:not(:last-child) {
    margin-bottom: 20px; }

form.surveys-edit {
  margin-bottom: 40px; }
